.menu-class {

  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  color: #f00;
  // background-color: rgb(250, 248, 248);
  padding: 6px 0;
  border-radius: 8px;
}

