.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

#title{
  margin-left: 50px
}
#actions{ // keep for more logic
  margin-left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


mat-toolbar{
  margin-bottom: 20px;
  padding: 0 40px;
}
